.subtitle{

    color:var(--dasa-blue);

    font-size:28px;

    font-weight:600;

    margin-bottom:25px;
}

.intro-text{

    max-width:950px;

    line-height:1.8;

    color:#666;

    margin-bottom:70px;
}


.transition{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

    margin-bottom:60px;
}


.section-title{

    color:#999;

    font-size:18px;

    font-weight:600;

    display:block;

    margin-bottom:20px;
}


.current,
.future{

    flex:1;
}


.filo-card{

    background:#ECEFF3;

    padding:40px;

    border-radius:24px;

    text-align:center;

    font-size:32px;

    font-weight:700;

    color:#666;
}


.small-text{

    margin-top:20px;

    font-size:16px;

    line-height:1.8;

    font-weight:400;
}


.arrow{

    font-size:80px;

    color:var(--dasa-light);
}


.domains{

    margin-top:30px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;
}


.domain{

    background:white;

    padding:18px;

    text-align:center;

    border-radius:16px;

    box-shadow:0 5px 15px rgba(0,0,0,.05);

    font-weight:600;
}
